article{
    width: 70%;
    margin-top: 30px;
    margin-left: 5%;
    font-size: 18px;
    float: left;
}
.type-news{
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    color: red;
}
.date-pub-news{
    font-size: 17px;
    font-weight: bold;
    color: gray;
    margin-top: 5px;
}
.name-news{
    font-size: 40px;
    margin-bottom: 0px;
}
.name-writter{
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;
    float: left;
}
.first-content{
    font-size: 19px;
    font-weight: bold;
    clear: both;
}
.img-news-content{
    width: 70%;
    margin-left: 120px;
}
.decription-img{
    text-align: center;
    font-style: italic;
}
/* Aside */
aside{
    width: 22%;
    float: right;
    margin-right: 3%;
}
.notification-aside{
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
}
.sub-nitification-aside{
    text-align: center;
    margin-top: -15px;
}
.img-aside-news{
    width: 100px;
    float: left;
    margin-right: 10px;
    margin-left: 3px;
    margin-top: 10px;
}
ul.aside-news > li{
    list-style: none;
    border-bottom: 2px solid gray;
}
ul.aside-news > li > a{
    text-decoration: none;
    color: black;
}
ul.aside-news > li > a:hover .title-news-aside{
    color: red;
}
.type-news-aside{
    font-size: 17px;
    font-weight: bolder;
    margin-top: 5px;
    color: gray;
}
.title-news-aside{
    font-size: 17px;
    margin-top: -10px;
    font-weight: bolder;
}
#final-aside{
    border-bottom: none;
}
/* RELATED */
.news-related{
    clear: both;
    width: 90%;
    margin-left: 5%;
}
.notify-related{
    width: 300px;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 3px;
    border-bottom: 3px solid #C6A972;
}
.img-news-related{
    width: 290px;
    height: 163px;
}
.title-news-related{
    font-size: 18px;
    margin-top: 0px;
    width: 290px;
}
ul.related > li{
    list-style: none;
    float: left;
    margin-left: 15px;
}
ul.related > li > a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
ul.related > li > a:hover .title-news-related{
    color: red;
}
iframe{
    margin-left: 120px;
}