body{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(202, 198, 198);
}
i{
    max-width: -10px;
}
.sign-in{
    width: 50%;
    height: 550px;
    margin-top: 5%;
    margin-left: 25%;
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}
.Welcome{
    font-size: 35px;
    font-weight: bolder;
}
.sign-in>input{
    width: 209px;
    height: 30px;
    border: none;
    border-bottom: 3px solid black;
}
/* Forgot */
.forgot{
    margin-top: 10px;
}
.forgot>a{
    text-decoration: none;
    color: black;
}
.forgot>a:hover{
    color: red;
}
/* button */
.button-sign-in{
    margin-top: 10px;
    border-radius: 30px;
    border: none;
    width: 209px;
    height: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.buttons>a>input:hover{
    background-color: black;
    transition: 0.5s;
}
.signin{
    background-color: rgb(212,175,124);
}
.facebook{
    background-color: rgb(60, 111, 204);
}
.twitter{
    background-color: cornflowerblue;
}
.google{
    background-color: rgb(218,79,62);
}
